.app-div {
  margin-left: 35rem;
  margin-top: 20px;
}

.is-size-2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.create-input {
  margin-left: -280px;
}


.button {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.list-div {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.show-div {
  margin-bottom: 2rem;
}

.content-div {
  margin-bottom: -5px;
}

.edit-div {
  display: inline-block;
  margin-right: 5px;
}

.edit-input {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.react-google {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 40px;
}

.google-login {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 25px;
}

.return-div {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
 
img {
 border-radius: 50%;
 height: 80px;
 width: 80px;
}

.user-info {
  margin-left: -525px;
}

.button-1 {
  margin-left: 600px;
}
